body {
  background-color: #448c74;
  font-family: "Poppins", sans-serif;
}
#displayContainer {
  background-color: antiquewhite;
}
.btn-custom {
  background-color: #448c74;
  color: white;
  transition: .5s;
}
.btn-custom:hover,
.btn-custom:focus {
  background-color: white;
  color: #448c74;
  transition: .5s;
  border: solid 1px;
  outline-color: #448c74;
}
